RAWG_API_KEY=your_rawg_api_key_here        # https://rawg.io/apidocs 免费注册
AI_API_KEY=your_deepseek_api_key_here       # https://platform.deepseek.com 注册获取
NEXT_PUBLIC_WORKER_URL=http://localhost:8787
